Git_Ex1/force-app/main/default/flows/Get_LWC_Input_Value_Instant_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Get LWC Input Value Instant Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get LWC Input Value Instant Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>DisplayInput</name>
        <label>DisplayInputFromLWC</label>
        <locationX>585</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Name_1</name>
            <fieldText>&lt;p&gt;{!LWCInPut.name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputVal_1</name>
            <fieldText>&lt;p&gt;{!getInputValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmbedLWC</name>
        <label>EmbedLWC</label>
        <locationX>585</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplayInput</targetReference>
        </connector>
        <fields>
            <name>LWCInPut</name>
            <extensionName>c:lwcToEmbedOnScreeenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Flow_Input_Element</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LWCInPut.name</elementReference>
            </defaultValue>
            <fieldText>Flow Input Element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <fieldText>&lt;p&gt;{!LWCInPut.name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputVal</name>
            <fieldText>&lt;p&gt;{!getInputValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>EmbedLWC</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>getInputValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LWCInPut.name</elementReference>
        </value>
    </variables>
</Flow>
